<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live translation</title>
    <style  src="/static/translation.css"></style>
    <script src="/static/script.js"></script>
</head>
<body>
<div class="container">
    <!-- Section for final German texts -->
    <div class="section">
        <h2>German Texts</h2>
        <div id="german-texts" class="text"></div>
    </div>

    <!-- Section for partial German text -->
    <div class="section">
        <h2>Partial German Text</h2>
        <div id="german-partial" class="partial">Waiting for transcription...</div>
    </div>

    <!-- Section for translated Russian texts -->
    <div class="section">
        <h2>Russian Texts</h2>
        <div id="russian-texts" class="text"></div>
    </div>
</div>
</body>
</html>
