<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live translation</title>
    <link rel="stylesheet" href="/static/translation.css">
    <script src="/static/script.js"></script>
</head>
<body>
<div class="container">
    <!-- Section for final German texts -->
    <div class="section" id="german-section">
        <div id="german-texts" class="text"></div>
        <div id="german-partial" class="partial">Waiting for transcription...</div>
    </div>

    <!-- Section for translated Russian texts -->
    <div class="section" id="russian-section">
        <div id="russian-texts" class="text"></div>
    </div>
</div>
</body>
</html>
